{% set controller_name = groups['controller'][0] %}
{% set controller = hostvars[controller_name] %}

openStack:
  username: admin
  password: c0ntrail123
  project: admin # Used only for auth (eg. by Docker Driver)
  address: {{ controller.ansible_host }}
  port: 5000

controller:
  address: {{ controller.ansible_host }}
  restApiPort: 8082
  # Used by non-multitenancy tests
  defaultProject: ci_tests

testbeds:
{% for testbed_name in groups['testbed'] %}
{% set testbed = hostvars[testbed_name] %}
  - name: {{ testbed_name }}
    address: {{ testbed.ansible_host }}
    username: Administrator
    password: 'Contrail123!'
{% endfor %}

system:
  adapterName: Ethernet1
  vHostName: vEthernet (HNSTransparent)
  forwardingExtensionName: vRouter forwarding extension
  agentConfigFilePath: C:\ProgramData\Contrail\etc\contrail\contrail-vrouter-agent.conf
