CONTAINER_REGISTRY: "{{ docker_registry }}"
REGISTRY_PRIVATE_SECURE: false
REGISTRY_PRIVATE_INSECURE: false
contrail_configuration:
  CONTRAIL_VERSION: "{{ contrail_version }}"
  CONTROLLER_NODES: "{{ ansible_all_ipv4_addresses[0] }}"
  CLOUD_ORCHESTRATOR: "{{ cloud_orchestrator }}"
  CONTAINER_REGISTRY: "{{ docker_registry }}"
  PHYSICAL_INTERFACE: "{{ physical_interface }}"
  VROUTER_GATEWAY: "{{ ansible_default_ipv4.gateway }}"
{% if cloud_orchestrator == 'openstack' %}
  AUTH_MODE: keystone
  KEYSTONE_AUTH_ADMIN_PASSWORD: c0ntrail123
  KEYSTONE_AUTH_HOST: "{{ ansible_all_ipv4_addresses[0] }}"
  #RABBITMQ_PORT: 5673
{% endif %}
roles:
  "{{ ansible_all_ipv4_addresses[0] }}":
    configdb:
    config_database:
    config:
    control:
    webui:
    analytics:
    analyticsdb:
    analytics_database:
{% if cloud_orchestrator == 'kubernetes' %}
    k8s_master:
{% endif %}
    vrouter:
