[Unit]
Description=Zuul Server Service
After=syslog.target network.target
 
[Service]
Type=simple
User=zuul
Group=zuul
ExecStart=/usr/local/bin/zuul-server -d
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
