pipelines:
  - name: production
    description: Newly uploaded patchsets enter this pipeline to receive an initial +/-1 Verified vote from Windows CI.
    failure-message: Build failed.
    footer-message: > 
                      This is a pipeline from Windows CI. For more information, see:
                      https://github.com/Juniper/contrail-windows-ci/wiki/OpenContrail-Windows-CI-FAQ
    manager: IndependentPipelineManager
    trigger:
      gerrit:
        - event: patchset-created
          branch: ^master$
        - event: change-restored
          branch: ^master$
        - event: comment-added
          branch: ^master$
          comment: (?i)recheck(( (?:bug|lp)[\s#:]*(\d+))|( no bug))(\s+clean)?\s*$
        - event: comment-added
          comment: (?i)recheck windows$
    start:
      gerrit: {}
    success:
      gerrit: {}
    failure:
      gerrit: {}

  - name: development
    description: Pipeline used for Windows CI development. It should always work in silent mode.
    manager: IndependentPipelineManager
    precedence: low
    trigger:
      gerrit:
        - event: comment-added
          comment: (?i)recheck windows(?:-| )(dev|devel|development)\s*$

jobs:
  - name: ^ci-contrail-windows.*$
    voting: false
    success-pattern: &logs_url http://logs.opencontrail.org/winci/{build.uuid}/
    failure-pattern: *logs_url

project-templates:
  - name: ci-contrail-windows-template
    production:
      - ci-contrail-windows-production
    development:
      - ci-contrail-windows-development

projects:
  - name: Juniper/contrail-controller
    template:
      - name: ci-contrail-windows-template

  - name: Juniper/contrail-vrouter
    template:
      - name: ci-contrail-windows-template

  - name: Juniper/contrail-build
    template:
      - name: ci-contrail-windows-template

  - name: Juniper/contrail-third-party
    template:
      - name: ci-contrail-windows-template

  - name: Juniper/contrail-generateDS
    template:
      - name: ci-contrail-windows-template

  - name: Juniper/contrail-sandesh
    template:
      - name: ci-contrail-windows-template

  - name: Juniper/contrail-common
    template:
      - name: ci-contrail-windows-template
