
openStack:
  username: admin
  password: c0ntrail123
  project: admin # Used only for auth (eg. by Docker Driver)
  address: <CONTROLLER_IP>
  port: 5000

controller:
  address: <CONTROLLER_IP>
  restApiPort: 8082
  # Used by non-multitenancy tests
  defaultProject: ci_tests

testbeds:
  - name: <TESTBED1_NAME>
    address: <TESTBED1_IP>
    username: Administrator
    password: 'Contrail123!'
  - name: <TESTBED2_NAME>
    address: <TESTBED2_IP>
    username: Administrator
    password: 'Contrail123!'

system:
  adapterName: Ethernet1
  vHostName: vEthernet (HNSTransparent)
  forwardingExtensionName: vRouter forwarding extension
  agentConfigFilePath: C:\ProgramData\Contrail\etc\contrail\contrail-vrouter-agent.conf
