[jenkins-slave:children]
tester
builder
ansible-worker

[windows:children]
tester
builder
testbed
drive

[linux:children]
ansible-worker
jenkins-server

[ansible-worker]

[drive]
SHARED_DRIVE_ADDRESS

[jenkins-server]
JENKINS_MASTER_ADDRESS

[tester]

[builder]

[testbed]

[contrail-controller]