[jenkins-slave:children]
tester
builder
ansible-worker
purgatory

[windows:children]
tester
builder
testbed
drive

[linux:children]
ansible-worker
jenkins-server

[ubuntu:children]
purgatory

[ansible-worker]

[drive]

[jenkins-server]

[zuul]

[tester]

[builder]

[testbed]

[contrail-controller]

[purgatory]
