[jenkins-slave:children]
tester
builder
ansible-worker

[windows:children]
tester
builder
testbed
drive

[linux:children]
ansible-worker
jenkins-server

[ansible-worker]

[drive]
my-shared-drive

[jenkins-server]
my-jenkins-server

[tester]

[builder]

[testbed]

[contrail-controller]