Host contrail-windows.github.com
    User git
    Hostname github.com
    IdentityFile ~/.ssh/deploykey_contrail-windows
    IdentitiesOnly yes

Host contrail-windows-docker-driver.github.com
    User git
    Hostname github.com
    IdentityFile ~/.ssh/deploykey_contrail-windows-docker-driver
    IdentitiesOnly yes
